# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=

# Payments
TILOPAY_API_KEY=
TILOPAY_API_SECRET=
EVERTEC_MERCHANT_ID=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Booking.com
BOOKING_API_KEY=